<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group mb-3">
    <input type="text" class="form-control me-2" name="name" placeholder="name" value="{{ todo.name }}" required>
    <div class="col-auto">
      <a class="btn btn-secondary" href="/">back</a>
      <button class="btn btn-success" type="submit">create</button>
    </div>
  </div>
</form>